.home {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: linear-gradient(
    180deg,
    rgba(255, 181, 128, 0.5) 0%,
    rgba(255, 245, 235, 0.5) 100%
  );
  .bubbles {
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    margin-top: 70px;
    .bubble1 {
      width: 315px;
      height: 121px;
      margin-left: 250px;
    }
    .bubble2 {
      width: 315px;
      height: 121px;
      margin-right: 300px;
      margin-top: -40px;
    }
  }
}
.home-content1 {
  display: flex;
  color: #959595;
  flex-direction: column;
  justify-items: center;
  text-align: center;
  margin-top: 50px;
  font-weight: 500;
}

.home-content2 {
  display: flex;
  font-size: 34px;
  margin-top: 50px;
  font-weight: 600;
  justify-content: center;
  margin-bottom: 30px;
  .Zipick {
    color: #ff5927;
  }
}

.next-button {
  border: none;
  border-radius: 8px;
  background: #ff5927;
  color: #fff;
  font-size: 1.1rem;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.2s;
  margin-bottom: 40px;

  &:hover {
    background-color: #e34e20;
  }
}
