.modal-overlay {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(6px); //뒷배경 흐림 효과
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal-box {
  background-color: white;
  border-radius: 20px;
  padding: 44px 44px 32px 44px;
  width: 650px;
  min-height: 320px;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.15); //살짝 그림자 효과
  position: relative;
}

//이미지+텍스트를 좌우로 배치
.loading-inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  gap: 36px;
  margin-bottom: 14px;
}

.loading-mascot {
  width: 120px;
  margin-right: 10px;
  margin-left: 10px;
  display: block;
}

.loading-texts {
  flex: 1;
}

.loading-title {
  color: #ff5927;
  font-weight: 600;
  font-size: 15px;
  margin-bottom: 8px;
  letter-spacing: 0.5px;
}

.loading-message {
  font-size: 18px;
  color: #232323;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 8px;
  .highlight {
    color: #ff5927;
    font-weight: 700;
  }
}

.loading-text,
.loading-sub {
  color: #bdbdbd;
  font-size: 13px;
  margin-top: 4px;
  margin-bottom: 28px;
  text-align: left;
}

.progress-wrap {
  width: 92%;
  margin: 0 auto;
  position: absolute;
  left: 4%;
  bottom: 24px;
}

.progress-bar {
  background: #ffe6df;
  border-radius: 12px;
  height: 12px;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.progress-bar-inner {
  height: 100%;
  background: #ff5927;
  border-radius: 12px;
  width: 0%; //JS에서 width 동적으로 할당!
  transition: width 0.18s cubic-bezier(0.9, 0.25, 0.6, 1); //부드럽게 변하도록
}

.content {
  display: flex;
  gap: 20px;
  margin-top: 20px;

  .loading-mascot {
    justify-content: center;
    width: 100px;
  }
  .titles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .modal-title {
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 8px;
    }
    .modal-subtitle {
      font-size: 15px;
      color: #333;
      margin-bottom: 30px;
    }
  }
}

.modal-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}
